<html>
    <head>
        <title>Forms</title>
    </head>
    <body>
        <select name = "role">
            <option>Select role</option>
            <option>Frontend Developer</option>
            <option>Backend Developer</option>
            <option>Full Stack Developer</option>
            <option>Java Developer</option>
            <option>Python Developer</option>
            <option>C++ Developer</option>
            <option>Software Developer</option>
            <option>Web Developer</option>
            <option>Mobile App Developer</option>
            <option>Android Developer</option>
            <option>iOS Developer</option>
            <option>React Developer</option>
            <option>Angular Developer</option>
            <option>Node.js Developer</option>
            <option>PHP Developer</option>
            <option>.NET Developer</option>
            <option>Database Administrator(DBA)</option>
            <option>SQL Developer</option>
            <option>Data Analyst</option>
            <option>Business Analyst</option>
            <option>Data Scientist</option>
            <option>Machine Leraning Engineer</option>
            <option>AI Engineer</option>
            <option>Deep Learning Engineer</option>
            <option>Cloud Engineer</option>
            <option>DevOps Engineer</option>
            <option>Cybersecurity Engineer</option>
            <option>Network Engineer</option>
            <option>Software Test Engineer</option>
            <option>UI/UX Designer</option>
            <option>Resume Analyzer</option>
            <option>Custom</option>
        </select>
        <form action = "/upload" method = "POST" enctype = "multipart/form-data">
            <div>
                <label>Upload JD File (Optional):</label>
                <input type = "file" name = "jd_file" />
            </div>
            <div>
                <label>Or Paste Custom JD Text:</label><br>
                <textarea name="custom_jd" rows="5" cols="40" placeholder="Paste custom Job Description here..."></textarea>
            </div>
            <br>
            <label>Upload Student Resume (PDF/DOCX):</label>
            <input type = "file" name = "resume" placeholder = "Upload resume"/><br>
            <button type = "submit">Analyze resume</button>
        </form>
    </body>
</html>